collections:
        api:
                output: true
        tutorial:
                output: true
        restapi:
                output: true
        general:
                output: true
        resttutorial:
                output: true
        sdk:
                output: true

theme: jekyll-theme-slate
title: "Priority Developer Portal"
permalinks: pretty
output: web
markdown_ext:  markdown,mkdown,mkdn,mkd,md
redcarpet:
  extensions: ["tables", "autolink", "strikethrough", "space_after_headers", "no_intra_emphasis", "fenced_code_blocks", "lax_spacing", "smart"]
repository: mobile/neomib.github.io
layouts_dir:  /resources/_layouts
includes_dir: /resources/_includes
defaults:
  -  
    scope:
      path: "_sdk"
    values:
      layout: "sdk_nav"
      output: web
  -
    scope:
      path: "_restapi"
    values:
      layout: "docs_nav"
      output: web

# Google Analytics
# google_analytics: UA-12315884-16

# Algolia
algolia:
  application_id: 'AXTY3FIAOU'
  index_name: 'priority-sdk'
  files_to_exclude: ['sdk/toc.md']
  nodes_to_index: 'p,blockquote,span,li'
  settings: false
