<div id="header_wrap" class="outer">
  <header>

    <nav class="left-nav">

      <div>
        <a class="logo" href="{{'/'| relative_url}}">
          <img src="https://www.eshbelsaas.co.il/eshbel/primail/library/Priority_Logo_White.png" class="logo-image"/>
        </a>
      </div>

      <div class="dropdown">
        <a class="btn dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="openDropdown(event,this)">
        Web SDK
        <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" dropdown="dropdownMenu1">
          <!-- <li><a href="{{'/'| relative_url}}">Welcome</a></li> -->
          <li><a href="{{'/api'| relative_url}}">Documentation</a></li>
          <li><a href="{{'/tutorial'| relative_url}}">Tutorial</a></li>
          <li><a href="{{'/app'| relative_url}}">Mobile App</a></li>
        </ul>
      </div>
      <!--  <a href="{{'/api'| relative_url}}">Web SDK</a> -->
      <!-- <a href="{{'/tutorial'| relative_url}}">SDK Tutorial</a> -->
      <div class="dropdown">
        <a role="button" class="btn dropdown-toggle" id="dropdownMenu2"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="openDropdown(event,this)">
        REST API
         <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" dropdown="dropdownMenu2">
          <!-- <li><a href="{{'/'| relative_url}}">Welcome</a></li> -->
          <li><a href="{{'/restapi'| relative_url}}">Documentation</a></li>
          <li><a href="{{'/resttutorial'| relative_url}}">Tutorial</a></li>
        </ul>
      </div>
      <!-- <a href="{{'/app'| relative_url}}">App</a> -->
      <!-- <a id="forkme_banner" href="{{ site.github.repository_url }}"></a> -->
    </nav>

    <nav class="right-nav">
      <div>
        <a href="{{'/forum'| relative_url}}" role="button" class="btn">Forum</a>
      </div>
    </nav>
          
  </header>
</div>

<script>

     var closeFunc=function()
     {

        var dropdowns = $('[dropdown]');
        if(dropdowns.hasClass('open'))
        {
          dropdowns.removeClass('open');
        }
     };

     $('body').click(closeFunc);
  

    //dropdown
        
    var openDropdown = function(event,btn)
    {
      closeFunc();
      event.stopPropagation();
      console.log(btn.id);
      var dropdown = $('[dropdown*=' + btn.id + ']');
      console.log(dropdown);
      if(dropdown.hasClass('open'))
      {
        dropdown.removeClass('open');
      }
      else
      {
        dropdown.addClass('open');
      }
      
    };

    function locationHashChanged() {
        $(".nav-link").each(function() {
          if (this.href === window.location.href) {
              $(this).addClass("active");
          }
          else {
            $(this).removeClass("active");
          }
        });
    }

    window.onhashchange = locationHashChanged;

    $(document).ready(function() {
      locationHashChanged();

      $(document).scroll(function () {
      currentHash = window.location.hash;
        $(".anchor-link").each(function () {
            var top = window.pageYOffset;
            var distance = top - $(this).offset().top;
            var hash = $(this).attr('name');
            // 30 is an arbitrary padding choice, 
            // if you want a precise check then use distance===0
            if (distance < 50 && distance > -50 && currentHash != hash) {
                window.location.hash = encodeURI((hash));
                currentHash = hash;
            }
        });
    });
    });



</script>
