<div id="header_wrap" class="outer">
  <header class="">
    <nav>
	    <a href="{{'/api'| relative_url}}">Web SDK</a>
      <a href="{{'/tutorial'| relative_url}}">SDK Tutorial</a>
      <a href="{{'/restapi'| relative_url}}">REST API</a>
	    <a href="{{'/app'| relative_url}}">App</a>
      <a href="{{'/forum'| relative_url}}">Forum</a>
      <a id="forkme_banner" href="{{ site.github.repository_url }}"></a>
	  </nav>

    <h1 id="project_title">
		  <a href="{{'/'| relative_url}}">
		 <!--  {{ site.title | default: site.github.repository_name }} -->
        <img src="https://www.eshbelsaas.co.il/eshbel/primail/library/Priority_Logo_White.png" class="logo-image"/>
		  </a>
		</h1>
          
  </header>
</div>