---
---

@import "{{ site.theme }}";
body
{
  background-color:white;
  overflow-x:hidden;
}
.center
{
  text-align: center;
}
#primary-navigation
{
  top:0;
  position:fixed;
  background-color: #f9f7f6 !important;
  >h3
  {
    color: #cecece;
    padding-left:20px;
    margin-bottom: 20px;
  }
  ul
  {
    margin-bottom:0;
    padding-top:15px;
  }
   a 
  {
    padding: 0px 0 0 10px;
    margin-top: -10px;
  }
  strong a
  {
    padding-left:0 !important;
  }
  .nav-subject
  {
    padding-left: 10px;
    font-size: 14px;
    color: #949494;
  }
}
#main_content_wrap 
{
   background-color:white;
    border:none;
  .inner > table ,.inner > table td
  {
    border:none;
  }
  section
  {
    padding-left: 0;
    padding-right: 0;
    margin-left: 320px;
    margin-right: 17px;
    h2
    {
      background: none;
    }
    // > h1
    // {
    //   color: darken(#00b0ec,5%);
    // }
    pre
    {
      background-color:transparent;
      border: 1px solid #DADADA;
      box-shadow:none;
      max-width: 96%;
      padding-right: 20px;
    }
    code
    {
      background-color:#F7F7F7;
    }
    table, table td,  th 
    {
    border: none;
     border-bottom: 1px solid #F7F7F7;
    background-color: transparent;
    color: #2d2d2d;
    }
  }
  &.main_page section
  {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    margin: auto;
    width: 100%;
    margin-left: 0;
    text-align: center;
    h1
    {
      margin: 40px 0;
    }
    table
    {
       margin: 60px auto;
    }
    p
    {
      font-size:21px;
    }
    a 
    {

    padding: 16px;
    margin: 40px;
    font-size: 34px;
    margin-top: 50px;
   
    display: inline-block;
    width: 170px;
    color: white;
    border-radius: 7px;
    background-color: #00a9ec;
    

    &:first-child {
      background: #47d7c6;
    }
    &:last-child {
      background: #9773ba
    }
  }
  }
}
#header_wrap
{
  position:relative;
  z-index: 5001;
  border-top: 8px solid #00b0ec;
  img.logo-image {
    height: 25px;
    margin: 0;
    top: 5px;
    padding: 0;
    box-shadow: none;
    border: none;
    // margin-top: 10px;
  }
  >header
  {
      > nav
     {
       float: right;
       vertical-align: middle;
       margin-right: -10px;
       // margin-top: 5px;
       a:not(#forkme_banner)
       {
         text-align: center;
        color: #f9f7f6;
        margin-left: 10px;
        position: relative;
        top: -10px;
       }
       #forkme_banner
       {
         display: inline-block;
         position: relative;
         padding: 15px 15px;
         background: url("../images/blacktocat.png") transparent no-repeat 0%;
         // top: 5px;
         margin-left: 19px;
         box-shadow:none;
       }
     }
        padding: 10px 20px;
  }
  #project_title 
  {
    font-size: 20px;
    a
    {
      color:white !important;
      &:hover
      {
        text-decoration:none;
      }
    }
 }
}
#try-it-button
{
   top:78Px;
   position: fixed;
   right: 2%;
    background-color: #108a1e;
    color: white;
    border: none;
    padding: 10px;
    &:focus {
    outline: none;
   }
}
#try-it-frame
{
   position: fixed;
   top: 103px;
    right: 0;
    height: 100%;
    width: 0px;
   
}
a code 
     {
       color: #00b0ec;
     }
     a {
      color: #00b0ec;
     }
.muut
{
    position: absolute;
    width: 100%;
    margin-left: -316px !important;
    #m-mainlinks,#moot-logo a
   {
     display: none !important;
   }
}
/************************* scroll bar *********************/
/* ::-webkit-scrollbar 
{ 
  width: 9px;
  height:4px;
}
::-webkit-scrollbar-track 
{
  background-color: #e8e8e8;
}
::-webkit-scrollbar-thumb 
{ 
background: #dadada;
}
 */
