<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <!-- <meta http-equiv="X-UA-Compatible" content="chrome=1"> -->
    <!-- <meta name="viewport" content="width=device-width,maximum-scale=2"> -->
    <!-- <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}"> -->
    
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  -->
        
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="{{ '/resources/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="{{ '../resources/assets/css/style.css'  }}"> -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '../resources/assets/css/printStyle.css'  }}">
    <title>{{ site.title }}</title>
    <style>
      a {
        text-decoration: none;
        color: #2d2d2d;
      }
    </style>

    <script>
      Prince.addScriptFunc("datestamp", function() {
          return "PDF last generated: June 28, 2023";
      });
    </script>

    <script>
      Prince.addScriptFunc("guideName", function() {
          return " Priority SDK";
      });
    </script>


  </head>

  <body>

    <!-- NAVIGATION -->
  <div class="flex-container">
    
  <!-- MAIN CONTENT -->
  {% if page.type == 'title' %}
  <main id="main_content_wrap" class="{{'outer api-content title' }}">
    {% endif %}
  {% if page.type == 'toc' %}
  <main id="main_content_wrap" class="{{'outer api-content toc' }}">
    {% endif %}
  {% if page.type == 'sdk' %}
  <main id="main_content_wrap" class="{{'outer api-content' }}">
    {% endif %}
    <!-- Content -->
    {% if page.type == 'sdk' %}
    <h1 class="{{page.type}} print">{{ page.title }}</h1>
    {% endif %}
    <section  class="markdown-body">
          {{ content }}
    </section>
  
  </div>

  </body>

</html>
