<div id="header_wrap" class="outer">
  <header>

    <nav class="left-nav">

      <div>
        <a class="logo" href="/">
          <img src="https://cdn.priority-software.com/docs/images/Priority_logo_white_tight.png" class="logo-image"/>
        </a>
      </div>
      <div>
        <a href="/general" role="button" class="btn">Before you Begin</a>
      </div>
      <div class="dropdown">
        <a class="btn dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="openDropdown(event,this)">
        Web SDK
        </a>
        <ul class="dropdown-menu" dropdown="dropdownMenu1">
          <li><a href="/api">Documentation</a></li>
          <li><a href="/tutorial">Tutorial</a></li>
        </ul>
      </div>
      <!--<div class="dropdown">
        <a role="button" class="btn dropdown-toggle" id="dropdownMenu2"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" onclick="openDropdown(event,this)">
        REST API
         <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" dropdown="dropdownMenu2">
          <li><a href="/restapi">Documentation</a></li>
          <li><a href="/resttutorial">Tutorial</a></li>
        </ul>
      </div>-->
      <div>
        <a href="/restapi" role="button" class="btn">REST API</a>
      </div>
      <div>
        <a href="/sdk/Introduction" role="button" class="btn">Priority SDK</a>
      </div>
      <div>
        <a href="/webhooks" role="button" class="btn">Webhooks</a>
      </div>
      <div>
        <a href="/odbc" role="button" class="btn">ODBC</a>
      </div>

    </nav>
    <!--<nav class="right-nav">
      <div>
        <a href="/forum" role="button" class="btn">Forum</a>
      </div>
    </nav>-->
   

          
  </header>
</div>

<script>

     var closeFunc=function()
     {

        var dropdowns = $('[dropdown]');
        if(dropdowns.hasClass('open'))
        {
          dropdowns.removeClass('open');
        }
     };

     $('body').click(closeFunc);
  

    //dropdown
        
    var openDropdown = function(event,btn)
    {
      closeFunc();
      event.stopPropagation();
      console.log(btn.id);
      var dropdown = $('[dropdown*=' + btn.id + ']');
      console.log(dropdown);
      if(dropdown.hasClass('open'))
      {
        dropdown.removeClass('open');
      }
      else
      {
        dropdown.addClass('open');
      }
      
    };

    // function locationHashChanged() {
    //     $(".nav-link").each(function() {
    //       if (this.href === window.location.href) {
    //           $(this).addClass("active");
    //       }
    //       else {
    //         $(this).removeClass("active");
    //       }
    //     });
    // }

    // window.onhashchange = locationHashChanged;

    // $(document).ready(function() {
    //   locationHashChanged();

    //   $(document).scroll(function () {
    //   currentHash = window.location.hash;
    //     $(".anchor-link").each(function () {
    //         var top = window.pageYOffset;
    //         var distance = top - $(this).offset().top;
    //         var hash = $(this).attr('name');
    //         // 30 is an arbitrary padding choice, 
    //         // if you want a precise check then use distance===0
    //         if (distance < 50 && distance > -50 && currentHash != hash) {
    //             window.location.hash = encodeURI((hash));
    //             currentHash = hash;
    //         }
    //     });
    // });
    // });



</script>
