<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
     <link rel="stylesheet" href="{{'/assets/sideNav/jquery.ma.infinitypush.css' | relative_url}}">
     <script src="{{'/assets/sideNav/jquery.ma.infinitypush.min.js'| relative_url}}"></script>
	  
    <link rel="icon" href="https://neomib.github.io/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }}</title>
	  
     </head>

  <body>

  <!-- HEADER -->
  {% include header.html %}

	<!-- Navigation -->
  <nav id="primary-navigation"> 
	<h3>Priority Web SDK</h3>
	<ul>
		<li><strong><a href="{{'/api'| relative_url}}">Introduction</a></strong></li>
	</ul>
  {% for doc in site.api %}
	  {%if doc.entityName%}
	       <ul>
          <li><strong><a href="{{'/api/' | append: doc.entityName | slugify: 'none' | append: '/#' | append: doc.entityName | relative_url }}">{{doc.entityName}}</a></strong></li>
          
<!-- 	  {% assign docsContent= docsContent | append : '<br>'| append: doc.content%} -->
	  {% if doc.subjects%}
	   {% for subject in doc.subjects %}
	     <li class="nav-subject">
	        {{subject.name}}
	      </li>
	    {% for method in subject.methods %}
              <li>
	        <a href="{{'/api/'| append: doc.entityName | slugify: 'none' | append: '/#'| append: method | relative_url }}">{{method}}</a>
	      </li>
	    {% endfor %} 
	   {% endfor %} 
           {% else %}
		{% for method in doc.methods %}
                 <li>
	          <a href="{{'/api/' | append: doc.entityName | slugify: 'none' | append: '/#'| append: method | relative_url }}">{{method}}</a>
	         </li>
	       {% endfor %} 
           {%endif%}
	  </ul>
	  {%endif%}
	 {% endfor %} 
        </nav>  
	  
  
  <!-- MAIN CONTENT -->
  <main id="main_content_wrap" class="outer">
  	<!-- Content -->
  	<section  class="markdown-body">
          {{ content }}
    </section>
	
  </main>

    <!-- FOOTER  
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>-->

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %} 
      <script>
	  $(document).ready(function(){
		  if(screen.width<=640)
			  $('#primary-navigation').infinitypush({offcanvas:true,spacing:40});   
		  else
			  $('#primary-navigation').infinitypush({offcanvas:false,spacing:40});
        });

        //try it frame
        var showTryIt=function(btn)
        {
          var iframe=document.getElementById('try-it-frame');
          if(iframe.style.width!='0px'&& iframe.style.width!="")
          {
            iframe.style.width='0';
            btn.innerText="Try It Yourself";
            btn.style.right='2%';
            btn.style.backgroundColor="#108a1e";
            btn.style.color="white";
            btn.style.marginRight="auto";
          }
          else
          {
            iframe.style.width='35%';
            btn.innerText="X";
            btn.style.right='35%';
            btn.style.backgroundColor="white";
            btn.style.color="crimson";
            btn.style.marginRight="-25px";
          }
        };
     </script>
     <button id="try-it-button" onclick="showTryIt(this)">Try It Yourself</button>
     <iframe id="try-it-frame" src="https://www.eshbelsaas.com/ui/api/tryIt/"></iframe>
  </body>
</html>
